<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">{{ product.category }}</strong>
            <h4 class="mb-0">{{ category.name }}</h4>
            <p class="card-text mb-auto">{{ category.description }}</p>
            <a class="btn btn-sm btn-outline-primary form-control" type="submit"
               href="{% url 'catalog:products' category.pk %}">
                Подробнее
            </a>
        </div>
    </div>
</div>