{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-6 mb-5">
        {% if user.is_authenticated %}
            <a href="{% url "catalog:create_product" %}" class="btn btn-outline-primary">Добавить новый продукт</a>
        {% endif %}
    </div>
    <div class="row">
        {% for object in object_list %}
            {% include 'catalog/includes/inc_category_card.html' %}
        {% endfor %}
    </div>
    {#    <form action="" method="get">#}
    {#        <select name="paginate_by" onchange='this.form.submit()'>#}
    {#            <option>Количество элементов на странице</option>#}
    {#            <option>6</option>#}
    {#            <option>9</option>#}
    {#            <option>12</option>#}
    {#        </select>#}
    {#    </form>#}
{% endblock %}