<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/img/home_logo.svg" alt="Logo" width="30" height="30"
                 class="d-inline-block align-text-top">
            HomeSys
        </a>
        <nav class="ms-5">
            <a class="btn btn-sm btn-outline-secondary" type="submit" href="/contacts/">Контакты</a>
        </nav>
    </div>
</nav>
<div class="container-fluid">
    <div class="row col-3">
        <h3>Умные системы для Вашего дома</h3>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="card  box-shadow">
                <div class="card-header text-center">
                    <h5><b>Комплексное решение</b></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Все и сразу</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1. Составление техзадания по требованиям заказчика</li>
                        <li class="list-group-item">2. Подбор компонентов</li>
                        <li class="list-group-item">3. Проектирование системы умного дома</li>
                        <li class="list-group-item">4. Сборка элементов системы на предприятии</li>
                        <li class="list-group-item">5. Монтаж и запуск в работу</li>
                    </ul>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card box-shadow">
                <div class="card-header text-center">
                    <h5><b>Проектирование системы</b></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Собери своими руками</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1. Определение потребности</li>
                        <li class="list-group-item">2. Функциональное разделение</li>
                        <li class="list-group-item">3. Подбор компонентов системы</li>
                        <li class="list-group-item">4. Разработка технических и программых решений</li>
                        <li class="list-group-item">5. Консультация по внедрению системы</li>
                    </ul>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card box-shadow">
                <div class="card-header text-center">
                    <h5><b>Монтаж Вашей системы</b></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Воплотим решения</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1. Проверка целосности компонентов</li>
                        <li class="list-group-item">2. Прокладка всех необходимых коммуникаций</li>
                        <li class="list-group-item">3. Монтаж и настройка компонентов системы</li>
                        <li class="list-group-item">4. Выявление недочетов</li>
                        <li class="list-group-item">5. Комплексное опробование системы</li>
                    </ul>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row m-lg-1">
        <div class="col-6 col-md">
            HomeSYS &copy; 2023
        </div>
        <div class="col-6 col-md">
            <h5>Категории</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Системы умного дома</a></li>
                <li><a class="text-muted" href="#">Веб-приложения</a></li>
                <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                <li><a class="text-muted" href="#">Интеграция со сторонними сервисами</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Мы в соцсетях</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Вконтакте</a></li>
                <li><a class="text-muted" href="#">Телеграмм</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
