{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <h5>Цена: {{ object.price }} р.</h5>
            <div class="mt-5">
                <h5>Описание:</h5>
                <p class="card-text mb-auto">{{ object.description }}</p>
            </div>
            <div class="mt-5">
                <h5>Категория:</h5>
                <a class="card-text mb-auto"
                   href="{% url 'catalog:products' object.category.pk %}">{{ object.category }} </a>
            </div>
            <div class="mt-5">
                <p class="card-text mb-auto">Добавлено: {{ object.created_at }}</p>
                {% if user.is_authenticated %}
                    <p class="card-text mb-auto">Пользователем {{ object.owner }}</p>
                {% endif %}
            </div>
            <div class="mt-3">
                <p class="card-text mb-auto">Изменено: {{ object.updated_at }}</p>
            </div>
            <div class="mt-3">
                <p class="card-text mb-auto">Количество просмотров: {{ object.views_count }}</p>
            </div>
            <div class="mt-5">
                {% if user.is_authenticated %}
                    <a type="button" class="btn btn-outline-primary"
                       href="{% url 'catalog:update_product' object.pk %}">Изменить</a>
                    <a type="button" class="btn btn-outline-danger"
                       href="{% url 'catalog:delete_product' object.pk %}">удалить</a>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <img class="card-img-top"
                 src="{{ product.image|mediapath }}"
                 alt="Card image cap">
        </div>
    </div>
{% endblock %}